.card-wrappersummary{
    $Orange: #f55200;
    $secondary: #2b0649;
    $primary: #002d59;
    $primary-light: #580dbf;
    $Orange: #f55200;
    $secondary: #2b0649;
    $primary: #002d59;
    $White:#ffffff;
    $Black:black;
    $Black-light:#00000029;

    display: flex;
    justify-content: center;
    width: 100%;


    .Paymentsummary{
    
     
        
            .totalsummaryPayment{
                border: 1px solid;
                display: flex;
                justify-content: center;
                background: $Orange;
                color: white;
                width: 346px;
                height: 38px;
                align-items: center;
                border-radius: 10px; 
                @media (max-width: 375px) {
                    width: 245px;
                }
            
            }
            .tourPayment{
                border-radius: 10px;
                width: 346px;
                height: 96px;
                box-shadow: 0px 3px 20px $Black-light;
                margin-top: 5%;

                @media (max-width: 375px) {
                    width: 245px;
                }
            
            
                .tourDetailsPayment{
                    display: flex;
                    justify-content: space-between;
                    height: 50%;
                    align-items: center;
                    padding: 5%;  
                }
            }
            .totalpricePayment{
                border-radius: 10px;
                width: 346px;
                height: 148px;
                margin-top: 5%;
                background-color: #0000001A;

                @media (max-width: 375px) {
                    width: 245px;
                }
            
        
                .tourDetailsPayment{
                    display: flex;
                    justify-content: space-between;
              
                    align-items: center;
                    padding: 3%;      
                
             .price{
                     color:#2B0649;
                    font-size: 18px;
                    }
                    .totallabel{
                        font-size: 14px;
                        font-weight:700;
                        color: $Black;
                    }

                    .finalpricelabel{
                        font-size: 17px;
                        color:$Orange
                    }
                    .finalprice{
                        font-size: 20px;
                        font-weight: bold;
                        color: $Orange;
                    }
                }   
            }
        .tourlabel{
            font-weight: 700;
            color: black;
            font-size: 17px;

        }

        .tourlabelinfo{
            font-weight: 700;
            color: $Black;
            font-size: 14px;
        }
        .showdetail{
            color:$Orange;
            font-size: 12px;
        }
     
       
            }

}


