.users-card-wrapperpayment{
    $Orange: #f55200;
    $secondary: #2b0649;
    $primary: #002d59;
    $primary-light: #580dbf;
    $Orange: #f55200;
    $secondary: #2b0649;
    $primary: #002d59;
    $White:#ffffff;
    $Black:black;
    $Black-light:#00000029;
    display: flex;
    justify-content: center;
    width: 100%;
    
    @media (max-width: 717px) {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    padding: 6%;
    }
    .cards-wrapperpayment {
        width: 888px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: $White 0% 0% no-repeat padding-box;
        border: 1px solid $Black-light;
        border-radius: 10px;
        opacity: 1;
        padding: 2%;
        margin: 1% ; 
    @media (max-width: 900px) {
        height: auto;
    }
        }
    
        .item-wrapperpayment{
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-2b0649);
        text-align: left;
        font: normal normal bold 17px/30px Poppins;
        letter-spacing: 0px;
        color: $Black-light;
        opacity: 1;
        margin: 10px 32px;
        height: 20px;
        .headertitle{
            color: $Black;
            font-weight: bold;
            font-size: 20px;
        }
        }
   
        .cards-headerpayment {
        flex-direction: row;
        display: flex;
        justify-content: center;
        padding: 1%;
    
        @media (max-width: 900px) {
            flex-direction: column;
            display: flex;
            justify-content: center;
            padding: 1%;
            align-items: center;
        }
        }
     
        .cards-wrapperpayment .item-wrapperpayment .item-bodypayment {
        display: inline-flex;
        flex: 0 1 auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.25rem;
        padding: 0 0.25rem;
        }

        
    .btnslabel{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-46) var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 12px/46px Poppins;
    letter-spacing: 0px;
    margin-top: 10%;
    font-size: 12px;
    }



        .cards-bodypayment{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            .textfield{
            width: 453px;
            height: 38px;
            justify-content: center;
            
            @media (max-width: 1440px) {
                width: auto;
                height: 38px;
                justify-content: center;
            }
            }
    .continuepaymentdiv{
        display:flex;
        justify-content:center;
        margin-Top:4%;
        .continuepayment{
            width: 150px;
        height: 38px;
        border-radius: 19px;
        background: transparent linear-gradient(119deg, #FF7F18 0%, #FF1364 43%);
            color:$White;
        
        }
    }  


    .textfieldlabel{
        margin-bottom: 1%;
    }

    .textfieldlabel-top{
        margin-top: 3%;
    }
            }

            .textfieldlabelDate-cvv{
                display: flex;
                margin-top: 2%;
                justify-content: center;

                .dateinputright{
                    margin-right: 5%;
                }
            }
            
            
            
            .selectedbtns{
                color:$Orange !important;  
                  width: 164px ;
                height: 128px ;
                box-shadow: 0px 3px 6px $Black-light ;
                border: 1px solid $Orange !important;
                border-radius: 15px !important;
                margin: 2%;
            
              }
              
             .unselectedbtns{
                 width: 164px ;
                 height: 128px ;
                 box-shadow: 0px 3px 6px $Black-light ;
                 border: 1px solid $White;
                 border-radius: 15px !important;
                 margin: 2%;
             }  

             .paypalimg{
                 width: 65px;
             }
 
    }
    
        
        
        